/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
} */

.App{
    background: #fafafa; /* fondo suave */
}


.product-list {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* gap: 1px; */
  padding: 40px 0px;
  max-width: 100%;
  margin: 0 auto;
  background: #fafafa;
  border-radius: 12px;
  justify-items: center;
}

/* Pantallas grandes (desktop) */
@media (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr); /* 4 columnas fijas */
    width: 100%;
    row-gap: 100px;
    column-gap: 0;
  }
}

/* Pantallas medianas (tablet) */
@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* 2 columnas */
    padding: 30px 15px;
  }
}

/* Pantallas chicas (celulares) */
@media (max-width: 576px) {
  .product-list {
    /* grid-template-columns: 1fr; 
    gap: 16px;
    padding: 20px 10px; */

    display: block;
  }
}
